	input{
  		width: 400px;  
  		height: 30px;
  		margin: 5px;

  	}
	div{
		background-color: white;
		position: center;
		max-width: 500px;
	padding: 20px;
	}

	
	body{
		background-color: white;
		background-image: url(bank.jpg);
		background-repeat: no-repeat;
		opacity: 70%;
		background-size: 100%;
	}
	
	button{
			background-color: black;
			color: white;
			padding: 10px;
			margin: 10px;
			border: black;
		}
		button:hover{
			background-color: white;
			color: black;
		}
	header{
	background-color: black;
}
	h1{
	color: white; padding: 20px;
}